.DS_Store
*.pyc
.vscode
*.log
*.wav
*.pdmodel
*.pdiparams*
*.zip
*.tar
*.tar.gz
.ipynb_checkpoints
*.npz
*.done
*.whl
*.egg-info


speechx/fc_patch/

third_party/ctc_decoders/paddlespeech_ctcdecoders.py
