[
    {
        "type": "noise",
        "params": {"min_snr_dB": 40,
                   "max_snr_dB": 50,
                   "noise_manifest": "datasets/manifest.noise"},
        "prob": 0.0
    },
    {
        "type": "speed",
        "params": {"min_speed_rate": 0.95,
                   "max_speed_rate": 1.05},
        "prob": 0.0
    },
    {
        "type": "shift",
        "params": {"min_shift_ms": -5,
                   "max_shift_ms": 5},
        "prob": 1.0
    },
    {
        "type": "volume",
        "params": {"min_gain_dBFS": -10,
                   "max_gain_dBFS": 10},
        "prob": 0.0
    },
]
