ConfigArgParse
coverage
editdistance
g2p_en
g2pM
gpustat
h5py
inflect
jieba
jsonlines
kaldiio
librosa
llvmlite
loguru
matplotlib
nara_wpe
nltk
numba
numpy==1.20.0
pandas
phkit
Pillow
praatio~=4.1
pre-commit
pybind11
pypinyin
python-dateutil
pyworld
resampy==0.2.2
sacrebleu
scipy==1.2.1
sentencepiece
snakeviz
soundfile~=0.10
sox
soxbindings
tensorboardX
textgrid
timer
tqdm
typeguard
unidecode
visualdl==2.2.0
webrtcvad
yacs
yq
pypi-kenlm
GPUtil
psutil
pynvml
distro

