coverage
editdistance
gpustat
jsonlines
kaldiio
loguru
Pillow
pre-commit
pybind11
resampy==0.2.2
sacrebleu
scipy==1.2.1
sentencepiece
snakeviz
sox
tensorboardX
textgrid
tqdm
typeguard
visualdl==2.2.0
yacs
numpy
nltk
inflect
librosa
unidecode
numba
llvmlite
matplotlib
pandas
soundfile~=0.10
g2p_en
pypinyin
webrtcvad
g2pM
praatio~=4.1
h5py
timer
pyworld
jieba
phkit
yq