myst-parser
numpydoc
recommonmark>=0.5.0
sphinx
sphinx-autobuild
sphinx-markdown-tables
sphinx_rtd_theme
paddlepaddle>=2.2.2
editdistance
g2p_en
g2pM
h5py
inflect
jieba
jsonlines
kaldiio
librosa==0.8.1
loguru
matplotlib
nara_wpe
onnxruntime==1.10.0
pandas
paddlenlp
paddlespeech_feat
Pillow>=9.0.0
praatio==5.0.0
pypinyin
pypinyin-dict
python-dateutil
pyworld==0.2.12
resampy==0.2.2
sacrebleu
scipy
sentencepiece~=0.1.96
soundfile~=0.10
textgrid
timer
tqdm
typeguard
visualdl
webrtcvad
yacs~=0.1.8
prettytable
zhon
colorlog
pathos == 0.2.8
fastapi
websockets
keyboard
uvicorn
pattern_singleton
braceexpand
opencc
transformers==3.4.0