braceexpand
editdistance
g2p_en
g2pM
h5py
inflect
jsonlines
kaldiio
keyboard
librosa==0.8.1
loguru
matplotlib
myst-parser
nara_wpe
numpydoc
onnxruntime>=1.11.0
opencc
paddlenlp
# use paddlepaddle == 2.3.* according to: https://github.com/PaddlePaddle/Paddle/issues/48243
paddlepaddle>=2.2.2,<2.4.0
paddlespeech_ctcdecoders
paddlespeech_feat
pandas
pattern_singleton
ppdiffusers>=0.9.0
praatio>=5.0.0
prettytable
pypinyin-dict
pypinyin<=0.44.0
python-dateutil
pyworld>=0.2.12
recommonmark>=0.5.0
resampy
sacrebleu
shutil
sphinx
sphinx-autobuild
sphinx-markdown-tables
sphinx_rtd_theme
textgrid
timer
ToJyutping
typeguard
webrtcvad
websockets
yacs~=0.1.8
zhon
