coverage
gpustat
jsonlines
kaldiio
llvmlite==0.31.0
loguru
numba==0.47.0
numpy==1.18.5
Pillow
pre-commit
pybind11
python-speech-features
resampy==0.2.2
sacrebleu
scipy==1.2.1
sentencepiece
snakeviz
SoundFile==0.9.0.post1
sox
soxbindings
tensorboardX
textgrid
tqdm
typeguard
visualdl==2.2.0
yacs
